.detail-body {
	width: 80%;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bold;
	margin: 1em auto;
	border: 2px solid #333;
	border-radius: 7px;
	box-shadow: 2px 2px 5px #555;
}

.info-body {
	padding: 1em;
}

details {
    padding: .5em;
}

details:nth-child(odd) {
	background-color: #CCC;
	border: 1px solid #999;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #333;
}

summary {
	text-align: center;
	cursor: pointer;
}

summary:focus,
summary:hover {
	color: dodgerblue;
}

.info-body-strong {
	text-decoration: underline;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	margin-right: 5px;
}

details button {
	margin-top: 5px;
}
/*** Desk ***/
@media only screen and (min-width: 100px) and (max-width: 770px) and (max-height: 641px) {
	.detail-body {
	    margin-top: 0;
	    border-radius: 0 0 7px 7px;
	}
}
/*** Samsung-S5  640px landscape ***/
@media only screen and (max-width: 640px) and (max-height: 360px) {
	.detail-body {
		width: 67%;
	}
	.info-body-strong, em {
	    font-size: 90%;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
	.detail-body {
		width: 85%;
		margin-bottom: 13%;
	}
	.info-body-strong, em {
	    font-size: 90%;
	}
}