.detail-button {
    margin-top: 1em;
}

.detail-btn-panel {
    font-size: 85%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.open-close {
	width: 150px;
	font-size: 80%;
	font-weight: bold;
	padding: .5em;
	text-shadow: 1px 1px 1px #888;
	background-color: #CCC;
	border: 1px solid #333;
	border-radius: 3px;
	box-shadow: 2px 2px 5px #333;
	transition: .7s;
	cursor: pointer;
}

.open-close:focus,
.open-close:hover {
	color: dodgerblue;
	border-color: dodgerblue;
    box-shadow: 0 0 1em 0 dodgerblue;
    transition: .7s;
}
/*** Desk ***/
@media only screen and (min-width: 100px) and (max-width: 770px) and (max-height: 641px) {
   .open-close {
		width: 80%;
		border-top: 2px solid #333;
		border-right: 2px solid #333;
		border-left: 2px solid #333;
		border-bottom: 0;
		border-radius: 50px 50px 0 0;
		margin: 0;
	}
}
/*** Samsung-S5  640px landscape ***/
@media only screen and (max-width: 640px) and (max-height: 360px) {
	.open-close {
		width: 67%;
		border-top: 2px solid #333;
		border-right: 2px solid #333;
		border-left: 2px solid #333;
		border-bottom: 0;
		border-radius: 50px 50px 0 0;
		margin: 0;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
	.open-close {
		width: 85%;
		border-top: 2px solid #333;
	    border-right: 2px solid #333;
	    border-left: 2px solid #333;
		border-bottom: 0;
	    border-radius: 50px 50px 0 0;
	    margin: 0;
	}
}