#formDelete {
	height: 93%;
	width: 100%;
	background: rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 6.7%;
}

.form-delete {
	height: 170px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.delete-category,
.delete-product {
	width: 35%;
	text-align: center;
	background-color: lavender;
	border: 1px solid #999;
	box-shadow: 1px 1px 5px #111;
}

.title-delete,
.msg-delete {
	font-family: 'Open Sans Condensed', sans-serif;   
}

.title-delete {
	height: 25%;
	font-size: 120%;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.msg-delete {
	height: 25%;
	font-weight: bold;
	text-decoration: underline;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}

.options {
	height: 30%;
	display: flex;
	justify-content: center;
}

.not {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e37777;
	border: 1px solid #d65d5d;
	box-shadow: 0 0 10px #aa7070;
	border-radius: 30px 0 0 30px;
	transition: .7s;
}

.not:focus, 
.not:hover {
	background-color: #f05555;
	border: 1px solid #da2003;
	box-shadow: 0 0 10px #f00;
	transition: .7s;
}

.yes {
	font-size: 100%;
	background-color: #a2c8ec;
	border: 1px solid #57a1ea;
	border-radius: 0 30px 30px 0;
	box-shadow: 0 0 6px #357795;
	transition: .7s;
}

.yes:focus,
.yes:hover {
	background-color: #57a1ea;
	border: 1px solid #357795;
	box-shadow: 0 0 7px dodgerblue;
	transition: .7s;
}

.not,
.yes {
	width: 30%;
}
/*** Desk ***/
@media only screen and (max-width: 617px) {
	.delete-category,
	.delete-product {
		width: 50%;
	}
}
/*** iPad 1024px landscape ***/
@media only screen and (max-width: 1024px) and (min-height: 768px) {
	#formDelete {
		height: 94%;
		top: 6%;
	}
}
/*** iPad 768px portrait ***/
@media only screen and (min-height: 1024px) and (max-width: 768px) {
	#formDelete {
	    height: 96%;
	    top: 4.5%;
	}
	.delete-category,
	.delete-product {
	    width: 50%;
	}
}
/*** Samsung-S5 640px landscape ***/
@media only screen and (max-width: 640px) and (max-height: 360px) {
	#formDelete {
	    top: 12.5%;
	}
	.delete-category,
	.delete-product {
		width: 60%;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
	#formDelete {
	    height: 93%;
	    top: 7%;
	}
	.delete-category,
	.delete-product {
	    width: 75%;
	}
}