/*** Desk ***/
@media only screen and (min-width: 100px) and (max-width: 770px) and (max-height: 641px) {
    .product-form-create,
    .product-form-edit {
	    top: 28%;
	}
}
/*** Desk ***/
@media only screen and (max-width: 500px) {
	.product-form-create,
	.product-form-edit {
		width: 320px;
		left: 10%;
	}
}
/*** iPad 768px portrait ***/
@media only screen and (max-width: 768px) and (min-height: 1024px) {
	.product-form-create,
	.product-form-edit {
	    width: 60%;
	    left: 20%;
	}
}
/*** Samsung-S5 640px landscape ***/
@media only screen and (max-width: 640px) and (max-height: 360px) {
	.product-form-create,
	.product-form-edit {
	    top: 15%;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
	.product-form-create,
	.product-form-edit {
	    width: 90%;
	    left: 5%;
	}
}