.category-form-create,
.category-form-edit {
    height: 35%; 
}

.data-category:first-child {
    margin-top: 40px;
}
/*** Corrigir Layout do Desk ***/
@media only screen and (min-width: 100px) and (max-width: 770px) and (max-height: 641px) {
    .category-form-create,
    .category-form-edit {
	    top: 28%;
	}
}
@media only screen and (max-width: 500px) {
	.category-form-create,
	.category-form-edit {
	    width: 320px;
	    left: 10%;
	}
}
/*** iPad 1024px landscape ***/
@media only screen and (max-width: 1024px) and (min-height: 768px) {
	.category-form-create,
	.category-form-edit {
	    height: 30%;
	}
}
/*** iPad 768px portrait ***/
@media only screen and (min-height: 1024px) and (max-width: 768px) {
	.category-form-create,
	.category-form-edit {
	    height: 23%;
	    width: 60%;
	    top: 20%;
	    left: 20%;
	}
}
/*** Samsung-S5 640px landscape ***/
@media only screen and (max-width: 640px) and (max-height: 360px) {
	.category-form-create,
	.category-form-edit {
		height: 64%;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
	.category-form-create,
	.category-form-edit {
		height: 36%;
		left: 5.5%;
	}
}