.category-form-create,
.category-form-edit,
#formDelete,
.product-form-create,
.product-form-edit {
    display: none;
}

.category-form-create,
.category-form-edit,
.product-form-create,
.product-form-edit {
    width: 50%;
    position: fixed;
    top: 20%;
    left: 25%;
}

.container,
.container-category,
.container-product {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.container-category {
    height: 188px;
}

.form-category,
.form-product {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    border: 1px solid #999;
    box-shadow: 1px 1px 5px #555;
}

.form-category {
    padding: 3em 0;
}

.form-product {
    padding: 1.5em 0;
}

.form-category form,
.form-product form {
    width: 80%;
}

.form-category input,
.form-product input {
    height: 45px;
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    display: block;
}

.data {
    text-align: center;
}
/* Select Form Product */
.data, select {
    font-family: "Raleway", sans-serif;
    border: 1px solid #999;
    transition: .7s;
}

.data:focus,
.data:hover,
select:focus,
select:hover {
    box-shadow: 1px 1px 15px #000 inset;
    transition: .7s;
}

select {
    height: 40px;
    width: 100%;
    font-size: 110%;
    font-weight: bold;
}

select > option:first-child {
    background-color: #888;
    color: #FFF;
}

.btn-form {
    background-color: #A2C8EC;
    border: 1px solid #57A1EA;
    box-shadow: 0 0 6px #357795;
    color: black;
    transition: .7s;
    cursor: pointer;
}

.btn-form:focus,
.btn-form:hover {
    background-color: #57A1EA;
    border: 1px solid #357795;
    box-shadow: 0 0 10px dodgerblue;
    transition: .7s;
}
/*** Desk ***/
@media only screen and (min-width: 100px) {
    .new-item_danger {
        width: 100%;
    }
    .btn-danger {
        height: 100%;
        width: 100%;
        font-size: 100%;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E37777;
        color: black;
        border: 1px solid #E65D5D;
        box-shadow: 0 0 6px #AA7070;
        border-radius: 40px 40px 0 0;
        padding: 0;
        transition: .7s;
        cursor: pointer;
    }
    .btn-danger:focus,
    .btn-danger:hover {
        background-color: #F05555;
        border: 1px solid #DA2003;
        box-shadow: 0 0 10px #F00;
        transition: .5s;
    }
}
/*** iPad 768px portrait ***/
@media only screen and (max-width: 768px) and (min-height: 1024px) {
    .category-form-create, 
    .category-form-edit, 
    .product-form-create,
    .product-form-edit {
        width: 60%;
        left: 20%;
    }
}
/*** Samsung-S5 640px landscape ***/
@media only screen and (max-width: 640px) and (max-height: 360px) {
    .category-form-create,
    .category-form-edit,
    .product-form-create,
    .product-form-edit {
        width: 70%;
        top: 27%;
        left: 15%;
    }
    .container-category {
        height: 106px;
    }
    .form-category,
    .form-product {
        padding: .5em 0;
    }
    .form-product input, select {
        height: 30px;
    }
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
    .category-form-create,
    .category-form-edit,
    .product-form-create,
    .product-form-edit {
        width: 85%;
        top: 35%;
        left: 7.5%;
    }
    .container-category {
        height: 138px;
    }
    .container-product {
        height: 197px;
    }
    .form-category input {
        height: 45px;
    }
    .form-product input {
        height: 30px;
    }
    .form-category {
        padding: 1.5em 0;
    }
    .form-product {
        padding: .5em 0;
    }
    .new-item_danger {
        font-size: 100%;
    }
    select {
        height: 30px;
        font-size: 100%;
    }
}