.dash-table {
    margin-top: 1em;
}

.info-table {
	display: flex;
	justify-content: center;
}

.info-table table {
    width: 740px;
    box-shadow: 1px 1px 5px #555;
}

meter {
	width: 100%;
}
/*** iPad 768px portrait ***/
@media only screen and (max-width: 768px) and (max-height: 1024px) {
	.info-table table {
		width: 80%;
	}
}
/*** Desk ***/
@media only screen and (max-width: 600px) and (max-height: 640px) {
	.info-table table {
		width: 100%;
	}
}
/*** Samsung-S5 640px landscape ***/
@media only screen and (max-width: 640px) and (max-height: 360px) {
   .info-table table {
	    width: 70%;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
    .dash-table {
    	margin-bottom: 5em;
    }
    .info-table table {
		width: 100%;
	}
}