/*** Desk ***/
@media only screen and (min-width: 100px) {
	.col-12 h2 {
		font-size: 150%;
		font-weight: 500;
		text-align: center;
		text-shadow: 1px 1px 3px #555;
		padding: 2%;
	}
	.btn {
		height: 30px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 1s;
	}
	.new-item {
		height: 100%;
		width: 100%;
		padding: 0;
		display: flex;
		justify-content: center;
	}
	.btn-primary {
		height: 100%;
		width: 250px;
		font-size: 100%;
		font-weight: 700;
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #a2c8ec;
		color: black;
		border: 1px solid #57a1ea;
		box-shadow: 0 0 5px #357795;
		border-radius: 5px;
		padding: 0;
		transition: .7s;
	}
	.btn-primary:focus,
	.btn-primary:hover {
		background-color: #57a1ea;
		border: 1px solid #357795;
		box-shadow: 0 0 10px dodgerblue;
		transition: .7s;
	}
}