/* Mensagem página vazia */
.empty {
	padding: 3em;
}

.msg-empty {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.msg-empty-title {
	color: #DE2929;
	text-shadow: 0 0 3px #333;
	display: flex;
	align-items: center;
}
/*** Samsung-S5 640px landscape ***/
@media only screen and and (max-width: 640px) (max-height: 360px) {
	.empty {
	    margin-top: 5%;
	}
	.msg-empty {
	    display: flex;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
	.empty {
	    margin-top: 20%;
	}
	.msg-empty-title {
	    width: 90%;
	    text-align: center;
	}
}	