.user-form {
	width: 50%;
	position: fixed;
	top: 34%;
	left: 25%;
}

.fa-user, .fa-lock {
	color: black;
	position: relative;
	opacity: .5;
}

.fa-user {
	top: 95px;
	left: 110px;
}

.fa-lock {
	top: 140px;
	left: 92px;
}

.form-user {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lavender;
	border: 1px solid #999;
	box-shadow: 1px 1px 5px #555;
	padding: 2em;
}

.form-user form {
	height: 100%;
	width: 80%;
}

.form-user input {
	height: 45px;
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    display: block;
}

.name,
.password {
	text-align: center;
	font-family: "Raleway", sans-serif;
    border: 1px solid #999;
    transition: .7s;
}

.name:focus, .name:hover,
.password:focus, .password:hover {
	box-shadow: 1px 1px 15px #000 inset;
    transition: .7s;
}
/*** iPad 1024px landscape ***/
@media only screen and (max-width: 1024px) and (max-height: 768px) {
	.fa-user {
	    left: 90px;
	}
	.fa-lock {
	    left: 72px;
	}
}
/*** iPad 768px portrait ***/
@media only screen and (max-width: 768px) and (min-height: 1024px) {
	.user-form {
	    width: 60%;
	    top: 40%;
	    left: 20%;
	}
	.fa-user {
	    left: 85px;
	}
	.fa-lock {
    	left: 67px;
    }
}
/*** Desk 1260px ***/
@media only screen and (max-width: 1260px) and (max-height: 657px) {
	.user-form {
	    top: 52%;
	}
	.fa-user {
	    left: 100px;
	}
	.fa-lock {
	    left: 82px;
	}
}
/*** Desk 1100px ***/
@media only screen and (max-width: 1100px) and (max-height: 657px) {
	.fa-user {
	    left: 90px;
	}
	.fa-lock {
	    left: 72px;
	}
}
/*** Desk 900px ***/
@media only screen and (max-width: 900px) and (max-height: 657px) {
	.fa-user {
	    left: 80px;
	}
	.fa-lock {
	    left: 62px;
	}
}
/*** Desk 770px ***/
@media only screen and (max-width: 770px) and (max-height: 657px) {
    .user-form {
    	width: 70%;
    	top: 50%;
    	left: 15%;
    }
    .fa-user {
	    left: 85px;
	}
	.fa-lock {
	    left: 68px;
	}
}
/*** Desk 635px ***/
@media only screen and (max-width: 635px) and (max-height: 657px) {
	.fa-user {
	    left: 77px;
	}
	.fa-lock {
	    left: 58px;
	}
}
/*** Desk 500px ***/
@media only screen and (max-width: 500px) and (max-height: 657px) {
	.fa-user {
	    left: 65px;
	}
	.fa-lock {
	    left: 46px;
	}
}
/*** Samsung-S5 640px landscape ***/
@media only screen and (max-width: 640px) and (max-height: 360px) {
	.user-form {
	    width: 60%;
	    top: 22%;
	    left: 20%;
	}
	.fa-user {
	    left: 75px;
	}
	.fa-lock {
	    left: 57px;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
	.user-form {
	    width: 90%;
	    top: 50%;
	    left: 5%;
	}
	.fa-user {
	    left: 70px;
	}
	.fa-lock {
	    left: 52px;
	}
}