body {
    background-image: radial-gradient(#AAA, #BBB, #DDD);
}
.row {
    height: 15%;
}
.message-title {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #888, #BBB);
    opacity: .9;
    display: flex;
    align-items: center;
}
.message-title h2 {
    font-size: 2.5em;
    margin-left: .5em;
}
.message-erro {
    height: 100%;
    display: flex;
    align-items: center;
}