/* Form Category */
#categoryFormCreate,
#categoryFormEdit,
#productFormCreate {
    position: fixed;
    width: 50%;
    top: 30%;
    left: 25%;
}

#categoryFormCreate,
#categoryFormEdit {
    height: 35%; 
}

#formDelete {
    height: 93%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 6.7%;
}

#categoryFormCreate,
#categoryFormEdit,
#formDelete,
#productFormCreate {
    display: none;
}
/* Form Product */
#productFormCreate {
    height: 50%;
}

.container {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-category,
.form-product {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    border: 1px solid #999;
    box-shadow: 1px 1px 5px #555;
}

.form-category form,
.form-product form {
    height: 100%;
    width: 70%;
}

.form-category input,
.form-product input {
    height: 40px;
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    display: block;
}

.data {
    text-align: center;
}

.data:first-child {
    margin-top: 3px;
}

.data,
select {
    font-family: 'Raleway', sans-serif;
    transition: .7s;    
}

.data:focus,
.data:hover,
select:focus,
select:hover {
    box-shadow: 1px 1px 15px #000 inset;
    transition: .7s;
}

select {
    height: 40px;
    width: 100%;
    font-size: 110%;
    font-weight: bold;
}

.data-category:first-child {
    margin-top: 40px;
}

.btn-form {
    background-color: #a2c8ec;
    border: 1px solid #57a1ea;
    box-shadow: 0 0 6px #357795;
    color: black;
    transition: .7s;
}

.btn-form:focus,
.btn-form:hover {
    background-color: #57a1ea;
    border: 1px solid #357795;
    box-shadow: 0 0 10px dodgerblue;
    transition: .7s;
}

.form-delete {
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.delete-category {
    width: 35%;
    text-align: center;
    background-color: lavender;
    border: 1px solid #999;
    box-shadow: 1px 1px 5px #111;
}

.title-delete,
.msg-delete {
    font-family: 'Open Sans Condensed', sans-serif;   
}

.title-delete {
    height: 25%;
    font-size: 120%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-delete {
    height: 25%;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.options {
    height: 30%;
    display: flex;
    justify-content: center;
}

.not {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e37777;
    border: 1px solid #d65d5d;
    box-shadow: 0 0 10px #aa7070;
    border-radius: 30px 0 0 30px;
    transition: .7s;
}

.not:focus, 
.not:hover {
    background-color: #f05555;
    border: 1px solid #da2003;
    box-shadow: 0 0 10px #f00;
    transition: .7s;
}

.yes {
    font-size: 100%;
    background-color: #a2c8ec;
    border: 1px solid #57a1ea;
    border-radius: 0 30px 30px 0;
    box-shadow: 0 0 6px #357795;
    transition: .7s;
}

.yes:focus,
.yes:hover {
    background-color: #57a1ea;
    border: 1px solid #357795;
    box-shadow: 0 0 7px dodgerblue;
    transition: .7s;
}

.not,
.yes {
    width: 30%;
}