/* Barra de navegação */
.top-nav {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.top-nav a {
	float: left;
	display: block;
	padding: 14px 16px;
	color: #F2F2F2;
	text-decoration: none;
	transition: .7s;
}

.top-nav a:hover {
	background-color: #DDD;
	color: black;
	transition: .7s;
}
.top-nav .icon {
    display: none;
}
.active {
    background-color: dodgerblue;
}

/*** iPad 768px portrait ***/
@media screen and (max-width: 768px) and (max-height: 1024px) {
	
}

/*** Samsung-S5  640px landscape ***/
@media screen and (max-width: 640px) and (max-height: 360px) {
	.top-nav .page-action:nth-child(4) {
		float: right;
	}
}

/*** Samsung-S5 360px portrait ***/
@media screen and (max-width: 360px) and (max-height: 640px) {
	/* Animação navegação */
	.top-nav {
		height: 45px;
		transition: height .5s;
	}
	.top-nav.responsive {
		height: 177px;
	}
	/* Fim animação */
	.top-nav .page-action {
		display: none;
	}
	.top-nav a.icon {
		float: right;
		display: block;
	}
	.top-nav.responsive .icon {
		position: absolute;
		top: 0;
		right: 0;
	}
	.top-nav.responsive a {
		float: none;
	    display: block;
	    text-align: left;
	}
}

/*** Botão de sair ***/
@media screen and (max-width: 1368px) {
	.top-nav .page-action:nth-child(4) {
		float: right;
	}
}