main {
	height: 100%;
	margin-top: 45px;
	transition: margin-top .5s;
	overflow: auto;
}

span {
	height: 100%;
	font-family: sans-serif;
	font-weight: bold;
	margin: 0 .5%;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/* Mensagem da Session */
.alert-success,
.alert-danger {
	height: 5%;
	font-family: 'Raleway', sans-serif;
	margin-top: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alert-success {
	background-color: #5de19e;
	border: 1px solid #17a05a;
}

.alert-danger {
	background-color: #e3a0ba;
	border: 1px solid #cf6479;
}
/* Mensagem na Home */
.msg-home {
	padding-top: 3.3%;
}
/* Parágrafo na Home */
.col-12 p {
	font-size: 100%;
	text-align: center;
	padding: 2%;
}
/* Botão do Form */
.btn-create {
	background-color: #a2c8ec;
	border: 1px solid #57a1ea;
	box-shadow: 0 0 6px #357795;
	color: black;
	transition: .7s;
}

.btn-create:hover {
	background-color: #57a1ea;
	border: 1px solid #357795;
	box-shadow: 0 0 10px dodgerblue;
	transition: .7s;
}

.btn-create:focus {
	background-color: #57a1ea;
	border: 1px solid #357795;
	box-shadow: 0 0 10px dodgerblue;
	transition: .7s;
}

thead {
	background-color: #333;
	color: white;
}

tbody tr:nth-child(odd) {
	background-color: #fbfbfb;
}

tbody tr:hover {
	background-color: #e3e3e3;
}

tbody a {
	color: black;
}
/* Botões da tabela */
tbody a:hover {
	color: dodgerblue;
}

tbody a:focus {
	color: dodgerblue;
}

tbody button:hover {
	color: dodgerblue;
}

tbody button:focus {
	color: dodgerblue;
}
/* Fim botões */
th, td {
	padding: 5px;
	font-family: 'Open Sans Condensed', sans-serif;
}

th {
	font-weight: bold;
}
/* Ordena coluna Tabela */
.order {
	transition: .7s;	
}

.order:hover {
	font-weight: bold;
	background-color: #DDD;
	color: #000;
	border: 1px solid #000;
	transition: .7s;
}

.order:active {
	background-color: #000;
	color: #fff;
}
/* Fim */
td {
	font-weight: bolder;
	text-align: center;
	border-bottom: 1px solid #dbdbdb;
}
/* Mensagem de página vazia */
.empty {
	height: 10%;
	margin-top: 5%;
}

.msg-empty {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.msg-empty-title {
	height: 30%;
	color: #de2929;
	text-shadow: 0 0 3px #333;
	display: flex;
	align-items: center;
}

@media screen and (min-width: 100px) {
	.col-12 h2 {
		font-size: 150%;
		font-weight: 500;
		text-align: center;
		text-shadow: 1px 1px 3px #555;
		padding: 2%;
	}
	.main-down {
		margin-top: 177px;
		transition: margin-top .5s;
	}
	.btn {
		height: 5%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 1s;
	}
	.new-item {
		height: 30px;
		width: 240px;
		padding: 0;
	}
	.btn-primary {
		height: 100%;
		width: 100%;
		font-size: 100%;
		font-weight: 700;
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #a2c8ec;
		color: black;
		border: 1px solid #57a1ea;
		box-shadow: 0 0 6px #357795;
		border-radius: 5px;
		padding: 0;
		transition: .7s;
	}
	.btn-primary:hover {
		background-color: #57a1ea;
		border: 1px solid #357795;
		box-shadow: 0 0 10px dodgerblue;
		transition: .7s;		
	}
	.btn-primary:focus {
		background-color: #57a1ea;
		border: 1px solid #357795;
		box-shadow: 0 0 10px dodgerblue;
		transition: .7s;		
	}
	.btn-danger {
		height: 100%;
		width: 100%;
		font-size: 100%;
		font-weight: bold;
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #e37777;
		color: black;
		border: 1px solid #d65d5d;
		box-shadow: 0 0 6px #aa7070;
		border-radius: 5px;
		padding: 0;
		transition: .7s;
	}
	.btn-danger:hover {
		background-color: #f05555;
		border: 1px solid #da2003;
		box-shadow: 0 0 6px #f00;
		transition: .7s;
	}
	.btn-danger:focus {
		background-color: #f05555;
		border: 1px solid #da2003;
		box-shadow: 0 0 6px #f00;
		transition: .7s;
	}
	.table-items {
		width: 100%;
		box-shadow: 1px 1px 5px #555;
	}
}

@media screen and (min-width: 451px) {
	.main-down {
		margin-top: 45px;
	}
}