/*** Samsung-S5 640px landscape ***/
@media screen and (max-width: 640px) and (max-height: 360px) {
	main {
	    margin-top: 45px;
	}
	.col-12 {
	    display: block;
	}
	.col-12 p {
	    font-size: 90%;
	}
	.btn {
	    height: 8%;
	}
	.new-category {
	    font-size: 120%;
	}
	.btn-primary {
		font-size: 75%;
	}
	.container {
	    height: 73%;
	}
	.table {
	    display: flex;
	    justify-content: center;
	}
}

/*** Samsung-S5 360px portrait ***/
@media screen and (max-width: 360px) and (max-height: 640px) {
	.col-12	p {
		font-size: 100%;
	}
	.down {
	    margin-top: 55%;
	    transition: margin-top .5s;
	}
}