.btn-top {
    height: 40px;
    width: 40px;
    display: none;
    background-color: #666;
    border: 1px solid #444;
    border-radius: 50px;
    box-shadow: 1px 1px 3px #000;
    transition: .7s;
    opacity: .5;
    cursor: pointer;
    position: fixed;
    top: 585px;
    left: 10px;
    z-index: 99;
}

.btn-top:focus,
.btn-top:hover {
	background-color: #72B0EC;
	border: 1px solid dodgerblue;
	transition: .7s;
	opacity: 1;
}

.icon-up {
	font-size: 25px;
    color: lavender;
}
/*** iPad 1024px landscape ***/
@media only screen and (max-width: 1024px) and (max-height: 768px) {
	.btn-top {
		top: 690px;
	}
}
/*** iPad 768px portrait ***/
@media only screen and (max-width: 768px) and (max-height: 1024px) {
	.btn-top {
		top: 947px;
	}
}
/*** Desk 1354px ***/
@media only screen and (max-width: 1354px) and (max-height: 640px) {
	.btn-top {
		top: 567px;
	}
}
/*** Samsung-S5  640px landscape ***/
@media only screen and (max-width: 640px) and (max-height: 360px) {
	.btn-top {
		top: 268px;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
	.btn-top {
		top: 546px;
	}
}