/* Mensagem Session */
span {
	font-family: sans-serif;
	font-weight: bold;
	margin: 0 .5%;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.alert-success,
.alert-danger {
	height: 30px;
	width: 100%;
	font-family: "Raleway", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alert-success {
	background-color: #5DE19E;
	border: 1px solid #17A05A;
}

.alert-danger {
	background-color: #E3A0BA;
	border: 1px solid #CF6479;
}
/*** Desk ***/
@media only screen and (max-width: 465px) {
	.col-12 .alert-success,
	.col-12 .alert-danger {
	    font-size: 85%;
	}
}
/*** Samsung-S5 640px landscape ***/
@media only screen and (max-width: 640px) and (max-height: 360px) {
	span {
	    margin-right: 1%;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
	span {
	    margin-right: 3px;
	}
	.col-12 .alert-success,
	.col-12 .alert-danger {
		font-size: 70%;
		margin-top: 0px;
	}
}