/*** Samsung-S5 640px landscape ***/
@media only screen and (max-device-width: 640px) and (max-device-height: 360px) {
	.interface {
		background: url(../../img/stock-small-320.png) no-repeat 50% 50%;
	}
	@keyframes shake {
		0% {
			top: 10px;
		}
		10% {
			transform: rotate(3deg);
		}
		15% {
			transform: rotate(-3deg);
		}
		100% {
			top: -5px;
		}
	}
	@keyframes flying {
		from {
			top: 0px;
		}
		to {
			top: -15px;
		}
	}
	@keyframes run {
		from {
			left: -800px;
		}
		to {
			left: 0px;
		}
	}
	h1 {
		font-size: 150%;
	}
	/* Alerta */
	.alert-danger {
	    top: 11%;
	    font-size: 90%;
	}
	.alert-success {
	    top: 26%;
	    font-size: 90%;
	}
	form {
		height: 50%;
		width: 50%;
		margin-top: 8%;
	}
	.table-form {
	    height: 100%;
	}
	.cel-name, 
	.cel-password {
		font-size: 60%;
		text-align:;
	}
	.name, 
	.password {
	    font-size: 120%;
	}
	.cel-icon i {
		top: 35%;
	}
	.btn-primary {
		font-size: 65%;
	}
	.btn-return {
		top: 65%;
	}
	.btn-return p a {
	    width: 35%;
	    font-size: 75%;
	}
}

/*** Samsung-S5 360px portrait ***/
@media only screen and (max-device-width: 360px) and (max-device-height: 640px) {
	.interface {
		background: url(../../img/stock-small-320.png) no-repeat 50% 22%;
	}
	.title-shake {
		height: 10%;
		width: 60%;
	}
	.title-fly {
		width: 100%;
	}
	@keyframes shake {
		0% {
			top: 25px;
		}
		10% {
			transform: rotate(3deg);
		}
		15% {
			transform: rotate(-3deg);
		}
		100% {
			top: 5px;
		}
	}
	@keyframes flying {
		from {
			top: 0px;
		}
		to {
			top: -15px;
		}
	}
	@keyframes run {
		from {
			left: -800px;
		}
		to {
			left: 0px;
		}
	}
	h1 {
		font-size: 170%;
	}
	/* Alerta */
	.alert-danger {
		top: 32%;
		font-size: 100%;
	}
	.alert-success {
	    top: 41%;
	    font-size: 100%;
	}
	form {
		width: 75%;
		margin-top: 60%;
	}
	.cel-name, 
	.cel-password {
		font-size: 75%;
	}
	.btn-primary {
		font-size: 85%;
	}
	.btn-return {
	    top: 45%;
	}
	.btn-return p a {
	    width: 60%;
	    font-size: 100%;
	}
}