/** Título com animação **/
/* Animação chacoalhar */
.title-shake {
	height: 20%;
	width: 90%;
	position: relative;
	margin: auto;
	animation: shake 1s infinite;
	animation-delay: 20s;
}

.title-shake:hover {
	animation-play-state: paused;
}

@keyframes shake {
	0% {
		top: 0px;
	}
	10% {
		transform: rotate(3deg);
	}
	15% {
		transform: rotate(-3deg);
	}
	100% {
		top: -15px;
	}
}
/* Animação voar */
.title-fly {	
	position: relative;
	margin: auto;
	animation: flying 2s 5;
	animation-delay: 10s;
}

.title-fly:hover {
	animation-play-state: paused;
}

@keyframes flying {
	from {
		top: 0px;
	}
	to {
		top: -15px;
	}
}
/* Animação correr */
h1 {
	width: 100%;
	font-family: "FonteLogo", sans-serif;
	font-size: 2.5em;
	color: #3E4444;
	text-align: center;
	text-shadow: .05em .05em .25em rgba(0,0,0,.6);
	padding: 1em;
	position: relative;
	animation: run 4s;
}

@keyframes run {
	from {
		left: -800px;
	}
	to {
		left: 0px;
	}
}
/*** iPad 1024px landscape ***/
@media only screen and (max-device-width: 1024px) and (max-device-height: 768px) {
	.title-fly {
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
	}
	@keyframes shake {
		0% {
			top: 0px;
		}
		10% {
			transform: rotate(3deg);
		}
		15% {
			transform: rotate(-3deg);
		}
		100% {
			top: -40px;
		}
	}
	@keyframes flying {
		from {
			top: 0px;
		}
		to {
			top: -40px;
		}
	}
	@keyframes run {
		from {
			left: -800px;
		}
		to {
			left: 0px;
		}
	}
}
/*** iPed 768px portrait ***/
@media only screen and (max-device-width: 768px) and (max-device-height: 1024px) {
	.title-shake {
		height: 13%;
	}
	.title-fly {
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
	}
	@keyframes shake {
		0% {
			top: 0px;
		}
		10% {
			transform: rotate(3deg);
		}
		15% {
			transform: rotate(-3deg);
		}
		100% {
			top: -40px;
		}
	}
	@keyframes flying {
		from {
			top: 0px;
		}
		to {
			top: -40px;
		}
	}
	@keyframes run {
		from {
			left: -800px;
		}
		to {
			left: 0px;
		}
	}
	h1 {
		padding: 0;
		font-size: 3em;
	}
}
@media only screen and (max-width: 675px) {
	.title-fly {
		align-items: center;
	}
	h1 {
		font-size: 2em;
		padding: 1em 0;
	}
}
/*** Samsung-S5 640px landscape ***/
@media only screen and (max-device-width: 640px) and (max-device-height: 360px) {
	.title-fly {
		flex-direction: column;
	}
	@keyframes shake {
		0% {
			top: 0px;
		}
		10% {
			transform: rotate(3deg);
		}
		15% {
			transform: rotate(-3deg);
		}
		100% {
			top: -15px;
		}
	}
	@keyframes flying {
		from {
			top: 0px;
		}
		to {
			top: -15px;
		}
	}
	@keyframes run {
		from {
			left: -800px;
		}
		to {
			left: 0px;
		}
	}
	h1 {
		font-size: 150%;
		padding-bottom: 0;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-device-width: 360px) and (max-device-height: 640px) {
	.title-shake {
		height: 10%;
	}
	.title-fly {
		flex-direction: column;
	}
	@keyframes shake {
		0% {
			top: 0px;
		}
		10% {
			transform: rotate(3deg);
		}
		15% {
			transform: rotate(-3deg);
		}
		100% {
			top: -25px;
		}
	}
	@keyframes flying {
		from {
			top: 0px;
		}
		to {
			top: -25px;
		}
	}
	@keyframes run {
		from {
			left: -800px;
		}
		to {
			left: 0px;
		}
	}
	h1 {
		font-size: 170%;
		padding: 1.4em 0 0;
	}
}