/*** Desktop ***/
html {
	background-color: #EEE;
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	border-top: 0.3em solid #444;
	background-image: radial-gradient(#AAA, #BBB, #DDD);
}

/* Inserir imagem no centro da tela */
.interface {
	height: 100%;
	background: url(../../img/stock-large-original.png) no-repeat 50% 50%;
}

/** Título com animação **/
/* Animação chacoalhar */
.title-shake {
	position: relative;
	width: 40%;
	height: 20%;
	margin: auto;
	animation: shake 1s infinite;
	animation-delay: 20s;
}

.title-shake:hover {
	animation-play-state: paused;
}

@keyframes shake {
	0% {
		top: 0px;
	}
	10% {
		transform: rotate(3deg);
	}
	15% {
		transform: rotate(-3deg);
	}
	100% {
		top: -15px;
	}
}

/* Animação voar */
.title-fly {
	position: relative;
	width: 100%;
	margin: auto;
	animation: flying 2s 5;
	animation-delay: 10s;
}

.title-fly:hover {
	animation-play-state: paused;
}

@keyframes flying {
	from {
		top: 0px;
	}
	to {
		top: -15px;
	}
}

/* Animação correr */
h1 {
	width: 100%;
	font-family: 'FonteLogo', sans-serif;
	font-size: 2.5em;
	color: #3e4444;
	text-shadow: .05em .05em .25em rgba(0,0,0,.6);
	padding: 1em;
	text-align: center;
	position: relative;
	animation: run 4s;
}

@keyframes run {
	from {
		left: -800px;
	}
	to {
		left: 0px;
	}
}
/** Fim da animação **/

/* Alerta */
.alert-danger {
	position: relative;
	top: 5%;
	font-family: Lucinda SANS-SERIF;
	font-weight: bold;
	font-size: 135%;
	text-align: center;
	color: #db1e1edd;
}

.alert-success {
    height: 5%;
    text-align: center;
    font-size: 150%;
    font-family: Lucinda SANS-SERIF;
    font-weight: bold;
    position: relative;
    top: 25%;
    color: #444;
}

form {
	width: 35%;
	height: 50%;
	margin: auto;
	margin-top: 4%;
	border: 0.034em solid #888;
	border-radius: .5em;
	box-shadow: 1em 0.5em 1.5em #999;
}

.table-form {
	height: 100%;
	width: 75%;
	margin: auto;
	opacity: 0.7;
}

.table-body {
	width: 90%;
	height: 100%;
}

tr {
	height: 33%;
	text-align: center;
}

.cel-name, 
.cel-password {
	padding: 0.15em;
	vertical-align: middle;
	text-align: center;
}

.name,
.password {
	width: 95%;
	height: 50%;
	border-radius: 2em;
	font-size: 1.3em;
	text-align: center;
	box-shadow: .25em .25em .5em #333;
	transition: .35s;
}

/* Configurar ícone no input */
.name:hover,
.password:hover {
	border-color: dodgerblue;
	box-shadow: 0 0 1em 0 dodgerblue;
}

.name:focus,
.password:focus {
	border-color: dodgerblue;
	box-shadow: 0 0 1em 0 dodgerblue;
}

.cel-icon {position: relative;}

.cel-icon i {
	position: absolute;
	left: 7%;
	top: 35%;
	padding: .5em .5em;
	transition: .3s;
	color: #333;
}

.cel-icon .input-icon:focus + i {
	color: dodgerblue;
}

/* Botão */
.btn {
	vertical-align: middle;
}

.btn-primary {
	width: 95%;
	height: 45%;
	border-radius: .5em;
	background-color: #222;
	color: #FFF;
	font-weight: bold;
	font-family: "Verdana", sans-serif;
	font-size: 1em;
	transition: 1s;
}

.btn-primary:hover {
	background-color: #000;
	box-shadow: 0 0 1.25em #000;
}

.btn-primary:focus {
	background-color: #000;
	box-shadow: 0 0 1.25em #000;
}

/* Botão retornar ao Sistema */
.btn-return {
	text-align: center;
	text-decoration: none;
	height: 10%;
	position: relative;
	top: 65%;
}

.btn-return p {
    height: 100%;
    display: flex;
    justify-content: center;
}

.btn-return p a {
    align-self: center;
    text-decoration: none;
    height: 75%;
    width: 20%;
    background-color: #222;
    color: #FFF;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
    transition: 1s;
    border-radius: .5em;
}

.btn-return p a:hover {
	background-color: #000;
	box-shadow: 0 0 1.25em #000;
}

.btn-return p a:focus {
	background-color: #000;
	box-shadow: 0 0 1.25em #000;
}

@media screen and (max-width: 800px) {
	.alert-success {}
	form {
		width: 60%;
	}
	.btn-return p a {
	    font-size: 70%;
	}
}

@media screen and (max-width: 675px) {
	.title-fly {
		height: 100%;
		display: flex;
		align-items: center;
	}
	h1 {
		font-size: 2em;
		padding: 1em 0;
	}
	.alert-success {}
	form {
		width: 60%;
	}
	.btn-return p a {
		font-size: 50%;
	}
}