/*** iPed 768px portrait ***/
@media only screen and (max-device-width: 768px) and (max-device-height: 1024px) {
	.interface {
		background: url(../../img/stock-large-original.png) no-repeat 50% 25%;
	}
	.title-shake {
		height: 13%;
	}
	.title-fly {
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
	}
	@keyframes shake {
		0% {
			top: 0px;
		}
		10% {
			transform: rotate(3deg);
		}
		15% {
			transform: rotate(-3deg);
		}
		100% {
			top: -40px;
		}
	}
	@keyframes flying {
		from {
			top: 0px;
		}
		to {
			top: -45px;
		}
	}
	@keyframes run {
		from {
			left: -800px;
		}
		to {
			left: 0px;
		}
	}
	h1 {
		padding: 0;
	}
	form {
		height: 35%;
		margin-top: 50%;
	}	
}

/*** iPad 1024px landscape ***/
@media only screen and (max-device-width: 1024px) and (max-device-height: 768px) {
	.title-shake {}
	.title-fly {
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
	}
	@keyframes shake {
		0% {
			top: 0px;
		}
		10% {
			transform: rotate(3deg);
		}
		15% {
			transform: rotate(-3deg);
		}
		100% {
			top: -40px;
		}
	}
	@keyframes flying {
		from {
			top: 0px;
		}
		to {
			top: -45px;
		}
	}
	@keyframes run {
		from {
			left: -800px;
		}
		to {
			left: 0px;
		}
	}
	h1 {}
	form {
		width: 60%;
	}	
	.cel-icon i {
		left: 7%;
		top: 36%;
	}
}