/* Mensagem página vazia */
.empty,
.empty-category {
	padding: 3em;
}
/** Msg quando não há categoria, na Page Produto e Detalhe **/
.empty-category {
    margin-top: 10em;
}

.msg-empty-category {
    display: flex;
    flex-direction: column;
}
/* Fim */
.msg-empty {
	@extend %elem-flex-justify;
	align-items: center;
	padding: 0;
}

.msg-empty-title {
	@extend %elem-text-center;
	color: #DE2929;
	text-shadow: 0 0 3px $color-3;
	display: block;
	padding: .5em;
}
/*** Samsung-S5 640px landscape ***/
@media only screen and (max-width: 640px) and (max-height: 360px) {
	.empty-category {
	    margin-top: 7em;
	    padding: 1em;
	}
	.msg-empty {
	    display: flex;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
	.empty {
	    margin-top: 10%;
	    padding: 0;
	}
	.empty-category {
	    padding: .5em;
	}
	.msg-empty-title {
	    width: 100%;
	}
}