/* Alinha Tabela Categoria */
.table .col-12 {
	display: flex;
	justify-content: center;
}

.table-category,
.table-product {
	box-shadow: 1px 1px 5px #555;
}

.table-category {
	width: 60%;
}

.table-product {
	width: 100%;
}

.caption-category,
.caption-product {
	font-size: 80%;
	font-weight: bold;
	font-style: italic;
	padding: .5em;
}

thead {
	background-color: #333;
	color: white;
}

tbody tr:nth-child(odd) {
	background-color: #FBFBFB;
}

tbody tr:hover {
	background-color: #E3E3E3;
}

tbody a {
	color: black;
}
/* Botões da tabela */
tbody a:focus,
tbody a:hover,
tbody button:focus,
tbody button:hover {
	color: dodgerblue;
}
/* Fim botões */
th, td {
	padding: 5px;
	font-family: "Open Sans Condensed", sans-serif;
}

th {
	font-weight: bold;
}
/* Ordena coluna Tabela */
.order {
	transition: .7s;
	cursor: pointer;
}

.order:hover {
	font-weight: bold;
	background-color: #DDD;
	color: #000;
	border: 1px solid #000;
	transition: .7s;
}

.order:active {
	background-color: dodgerblue;
	color: #FFF;
}
/* Fim */
td {
	font-weight: bolder;
	text-align: center;
	border-bottom: 1px solid #DBDBDB;
}
/* Mensagem de Busca que não existe */
.msg-table-search {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-table-search {
	height: 100%;
	width: 100%;
	color: #DE2929;
	text-shadow: 0 0 3px #333;
	display: flex;
	justify-content: center;
	align-items: center;
}

#delete:focus,
#delete:hover,
#edit:focus,
#edit:hover {
	color: dodgerblue;
	cursor: pointer;
}
/* Filtrar na Busca */
.invisible {
	display: none;
}
/*** Desk 700px ***/
@media only screen and (max-width: 700px) and (max-height: 640px) {
	.table-category {
		width: 100%;
	}
}
/*** Desk 510px ***/
@media only screen and (max-width: 510px) and (max-height: 640px) {
	.table-product {
		font-size: 75%;
	}
}
/*** Samsung-S5 640px landscape ***/
@media only screen and (max-width: 640px) and (max-height: 360px) {
	.table-category {
		width: 100%;
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-width: 360px) and (max-height: 640px) {
	.table-category {
		width: 100%;
	}
	.table-product {
		font-size: 65%;
	}
	.caption-product {
	    font-size: 125%;
	}
}