/*** BASE ***/
html, body {
	height: 768px;
}

html {
	background-color: $color-e;
}

body {
	width: 100%;
	border-top: 0.3em solid $color-4;
	@include radial-gradient($color-a, $color-b, $color-d);
}
/* Inserir imagem no centro da tela */
.interface {
	height: 652px;
	@include image-large-index(50%, 50%);
}
/*** iPad 1024px landscape ***/
@media only screen and (max-device-width: 1024px) and (max-device-height: 768px) {
	html, body {
		height: 768px;
	}
	.interface {
		height: 763px;
		@include image-large-index(50%, 50%);
	}
}
/*** iPed 768px portrait ***/
@media only screen and (max-device-width: 768px) and (max-device-height: 1024px) {
	html, body {
		height: 1024px;
	}
	.interface {
		height: 1018px;
		@include image-large-index(50%, 25%);
	}
}
/*** Samsung-S5 640px landscape ***/
@media only screen and (max-device-width: 640px) and (max-device-height: 360px) {
	html, body {
		height: 360px;
	}
	.interface {
		height: 355px;
		@include image-small-index(50%, 50%);
	}
}
/*** Samsung-S5 360px portrait ***/
@media only screen and (max-device-width: 360px) and (max-device-height: 640px) {
	html, body {
		height: 640px;
	}
	.interface {
		height: 635px;
		@include image-small-index(50%, 22%);
	}
}